magacin.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3schools.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Magacin">
    <xs:complexType>
      <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="Artikal">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Naziv" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="3"/>
                    <xs:maxLength value="30"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="DatumIzrade">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Dan">
                      <xs:simpleType>
                        <xs:restriction base="xs:integer">
                          <xs:pattern value="[1-9]|[1-2][0-9]|3[0-1]"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Mesec">
                      <xs:simpleType>
                        <xs:restriction base="xs:integer">
                          <xs:pattern value="[1-9]|1[0-2]"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Godina" type="xs:integer" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Cena">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:restriction base="xs:nonNegativeInteger">
                      <xs:minInclusive value="1"/>
                    </xs:restriction>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="KompanijaProdavca">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ImeKompanije"  type="xs:string"/>
                    <xs:element name="Adresa" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="EmailProdavca">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:restrictedEmailProdavca">
                      <xs:attribute name="tip">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="privatni"/>
                            <xs:enumeration value="sluzbeni"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="restrictedEmailProdavca">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-z(A-Z)+(0-9)+]\c{1,20}@\c{4,8}.com"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>